@font-face {
  font-family: Poppins;
  src: url("../font/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Bold-Italic;
  src: url("../font/Poppins-BoldItalic.ttf");
}

.content-grid {
  display: grid;
  grid-template-rows: 20% auto 10%;
  height: 100vh;
}

html {
  font-family: Poppins, sans-serif;
  color: #FFFFFF;
  background-color: #38383B;
  margin: auto;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  grid-template-rows: 20% auto 10%;
}

.bg::before,
.bg::after {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("../images/1920x1276_vhs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1px);
}

@media screen and (max-width: 1024px) {

}

header {
  padding: 1vw 2vw;
  grid-row: 1;
}

.title-text-container {
  display: flex;
  justify-content: center;
  font-size: min(8.8vw, 74px);
}

.title-text-container span {
  font-family: Poppins-Bold-Italic;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0em;
  line-height: 1.8em;
  text-shadow: 1px 1px #000000;
}

.subtitle-container {
  text-align: center;
  font-size: min(3.6vw, 16px);
  height: 0;
  margin-bottom: 20px;
}

.subtitle {
  position: relative;
  bottom: min(3.6vw, 40px);
}

.subtitle a {
  color: #FFFFFF;

}

.red {
  color: #A60101;
}

.white {
  color: #FFFFFF
}

.show-options-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.selected-show {
  border-bottom: 1px solid #FFFFFF;
}

.show-options-list li {
  margin: 0 0.8em;
  text-align: center;
  display: inline;
}

@media (max-width: 768px) {
  .bg::before,
  .bg::after {
    background-image: url("../images/1152x766_vhs.jpg");

    left: 50%;
    margin-left: -580px;
  }
}

@media (max-width: 560px) {
  .show-options-list li {
    flex-basis: calc(50% - 1.6em);
  }
}

@media screen and (max-width: 332px) {
  .show-options-list li {
    flex-basis: calc(100% - 1.6em);
  }
}

.get-video-button-container {
  text-align: center;
  margin-top: 1em;
}

.get-video-button {
  width: 4em;
  height: 2em;
}

main {
  grid-row: 2;
}

.content-container {
  max-width: 880px;
  margin: auto;
  padding: 5px;
}

.video-container {
  position: relative;
  width: 95%;
  height: 0;
  padding-bottom: 56.25%;
  margin: auto;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  padding: 10px;
  grid-row: 3;
}

.social-container {
  text-align: center;
}

.social-icon {
  width: 36px;
  height: 36px;
  display: inline-block;
  margin: 2.5px;
  background-position: center center;
  background-size: cover;
}

.youtube-icon {
  background-image: url('../images/youtube.svg');
}

.facebook-icon {
  background-image: url('../images/facebook.svg');
}

.twitter-icon {
  background-image: url('../images/twitter.svg');
}

.credits {
  text-align: center;
  font-size: 12px;
}

.credits span a {
  color: #FFFFFF;
}